//$$$$$ colours $$$$$
$primary-colour:#2e7d32;
$primary-colour-dark:#005005;
$primary-colour-light:#60ad5e;
$secondary-colour:#01579b;
$grey-dark:#E1E2E1;
$white:#fff;
$black:#000;
//$$$$$ RESPONSIE BREAKING POINTS $$$$$$$
$desktop: 840px;
$tablet: 480px;
$phone: 0px;
//$$$$$ Font family $$$$$
$primary-font: Roboto, sans-serif;
//$$$$$ units
$base-margin:8px;
$base-font:16px;