.card{
	background-color:$white;
	margin-bottom:16px;

	@media screen and (min-width: $phone) {
		max-width: 100%;
	}

	@media screen and (min-width: $tablet) {
		max-width: 100%;
	}
	@media screen and (min-width: $desktop) {
		max-width: 320px;
	}
	
}